
body {
    background: #101010;
}

div {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 750px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #bbbbbb;
}

h1 {
    color: #dddddd;
}

a:link {
    color: #4d80aa;
}
  
  /* visited link */
a:visited {
    color: #6651bf;
}
  
  /* mouse over link */
a:hover {
    color: #609fd4;
}
  
  /* selected link */
a:active {
    color: #1866a6;
}

@font-face {
    font-family: "DeathtoMetal";
    src: url("assets/fonts/DeathtoMetal.ttf");
}

@font-face {
    font-family: "Plain_Germanica";
    src: url("assets/fonts/Plain_Germanica.ttf");
}

@font-face {
    font-family: "Deutsch";
    src: url("assets/fonts/Deutsch.ttf");
}

@font-face {
    font-family: "fighting_spirit_PG_bold";
    src: url("assets/fonts/fighting_spirit_PG_bold.ttf");
}

@font-face {
    font-family: "fighting_spirit_PG_ital";
    src: url("assets/fonts/fighting_spirit_PG_ital.ttf");
}

* {
    padding: 0;
    margin: 0
}